/*ESTILOS COMUNS*/

/*Imports necessário*/

/*Variáves*/
$cor-primaria: #54668e;
$cor-secundaria: #3a4675;
$cor-placeholder: #54668e71;
$cor-placeholder-2: #54668e2c;
$cor-clara: #ffffff;
$cor-escura: #000000;
$cor-call-to-action: #f29a41;
$cor-call-to-action-hover: #f5810c;

/*Gerais*/

*, p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


