/*Imports Gerais*/
@import "comuns.scss";
@import "mixins.scss";
@import "cabecalho.scss";
@import "secao-formularios.scss";
@import "secao-visualizar.scss";
@import "secao-lista.scss";

/*Estilo base*/
body{
    background-image: url(../assets/back-opaco.png);
    background-size: cover;
     background-repeat: no-repeat;
     background-position: center;

     &::-webkit-scrollbar {
        width: 15px;
        background-color: $cor-placeholder-2;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $cor-placeholder;
        
    }

    main{
        @include display(flex, column, center, center, 30px);
        padding: 15px;
     
    }
}